---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gaps
  namespace: gaps
spec:
  interval: 15m
  timeout: 20m
  chart:
    spec:
      chart: gaps
      version: 21.5.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  values:
    resources:
      requests:
        cpu: 20m
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: gaps.${DOMAIN_0}
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-gaps"
        accessKey: "${S3ID}"
        secretKey: "${S3KEY}"
        encrKey: "${S3KEY}"
    persistence:
      data:
        enabled: true
        volsync:
          - name: data
            type: restic
            credentials: s3
            dest:
              enabled: true
              cacheCapacity: 5Gi
            src:
              enabled: true
              cacheCapacity: 5Gi
              trigger:
                schedule: 20 17 * * *
