apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bichon
  namespace: bichon
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.24.53
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: bichon.${DOMAIN_0}
    global:
      stopAll: false
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-bichon"
        accessKey: "${S3ID}"
        secretKey: "${S3KEY}"
        encrKey: "${S3KEY}"
    image:
      repository: rustmailer/bichon
      pullPolicy: IfNotPresent
      tag: 0.0.3
    service:
      main:
        type: ClusterIP
        ports:
          main:
            port: 15630
            targetPort: 15630
    persistence:
      data:
        enabled: true
        volsync:
          - name: data
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: "40 7 * * *"
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                BICHON_LOG_LEVEL: info
                BICHON_ROOT_DIR: "{{ .Values.persistence.data.mountPath }}"
