apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sabnzbd
  namespace: sabnzbd
spec:
  postRenderers:
  - kustomize:
      patches:
        - target:
            version: v1
            kind: Deployment
            name: qbittorrent
          patch: |
            - op: add
              path: /spec/template/spec/containers/1/resources/limits/truecharts.org~1tun
              value: 1
  interval: 15m
  timeout: 20m
  chart:
    spec:
      # renovate: registryUrl=https://charts.truechartsoci.org
      chart: sabnzbd
      version: 22.8.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
    timeout: 20m
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
    timeout: 20m
  uninstall:
    keepHistory: false  
  values:
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                SABNZBD__HOST_WHITELIST_ENTRIES: "sabnzbd.${DOMAIN_0}, sabnzbd.sabnzbd.svc"
                SABNZBD__INCOMPLETE_DIR: "/Media/Downloads/incomplete"
                SABNZBD__COMPLETEDIR: "/Media/Downloads/complete"
                SABNZBD__DIRSCAN_DIR: "/Media/Downloads/nzb"
                SABNZBD__WEB_DIR: "Glitter"
                SABNZBD__WEB_COLOR: "Auto"
                SABNZBD__URL_BASE: "/sabnzbd"
                SABNZBD__HISTORY_LIMIT: "10"
                SABNZBD__DIRECT_UNPACK: "0"
                SABNZBD__NUM_DECODERS: "3"
    portal:
      open:
        enabled: false
    global:
      stopAll: false
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-sabnzbd"
        accessKey: "${S3ID}"
        secretKey: "${S3KEY}"
        encrKey: "${S3KEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        #annotations:
          #nginx.ingress.kubernetes.io/auth-method: 'GET'
          #nginx.ingress.kubernetes.io/auth-url: 'http://authelia.authelia.svc.cluster.local:9091/api/verify'
          #nginx.ingress.kubernetes.io/auth-signin: 'https://auth.${DOMAIN_1}?rm=$request_method'
          #nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: Media
            weight: 2
            widget:
              custom:
                key: "${SABNZBD_API_KEY}"
        hosts:
          - host: sabnzbd.${DOMAIN_0}
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: "40 0 * * *"
      media:
        enabled: true
        type: nfs
        server: "${NAS_IP}"  # Replace with your NFS server IP
        path: "/mnt/docker/Media"
        mountPath: "/Media"
    addons:
      gluetun:
        enabled: true
        killSwitch: true
        excludedNetworks_IPv4:
          - 192.168.1.0/24
        container:
          env:
            UPDATER_PERIOD: "24h"
            FIREWALL: "on"
            # Pod Network, Service Network, LAN
            FIREWALL_OUTBOUND_SUBNETS: "172.16.0.0/16,172.17.0.0/16,192.168.1.0/24"
            VPN_SERVICE_PROVIDER: privado 
            OPENVPN_USER: ${P_VPN_USER}
            OPENVPN_PASSWORD: ${P_VPN_PASS}
            SERVER_COUNTRIES: Germany,Hungary,Netherlands,United States
            KEEP_NAMESERVER: "off"
            DOT: "on"
            FIREWALL_INPUT_PORTS: "10097"
