apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: cloudflared
    namespace: cloudflared
spec:
    interval: 5m
    chart:
        spec:
            # renovate: registryUrl=https://charts.truechartsoci.org
            chart: cloudflared
            version: 14.7.3
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
            interval: 5m
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
      resources:
        requests:
          cpu: 20m
      portal:
        open:
          enabled: false
      workload:
        main:
          podSpec:
            containers:
              main:
                env:
                  TUNNEL_TOKEN: "${CLOUDFLARE_TUNNEL_TOKEN}"
