apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metube
  namespace: metube
  annotations:
    truecharts.io/force-sync: "timestamp-20250627T2230"
spec:
  interval: 15m
  timeout: 20m
  chart:
    spec:
      chart: metube
      version: 16.1.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  values:
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: metube.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-metube"
        accessKey: "${S3ID}"
        secretKey: "${S3KEY}"
        encrKey: "${S3KEY}"

    persistence:
      downloads:
        enabled: true
        type: nfs
        server: "${NAS_IP}"
        path: "/mnt/docker/talos_apps/metube/downloads"
        mountPath: "/downloads"
      config:
        volsync:
          - name: b2
            type: restic
            credentials: s3
            dest:
              enabled: true
              cacheCapacity: 10Gi
            src:
              enabled: true
              cacheCapacity: 10Gi
              trigger:
                schedule: 20 14 * * *
