apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: immich
spec:
  interval: 15m
  chart:
    spec:
      chart: immich
      version: 19.22.9
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  timeout: 30m
  values:
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: photos.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: "domain-0-le-prod"
    credentials:
      s3:
        type: s3
        url: "${S3URL}"
        bucket: "${S3PREFIX}-immich"
        accessKey: "${S3ID}"
        secretKey: "${S3KEY}"
        encrKey: "${S3KEY}"
    persistence:
      library:
        type: nfs
        server: "${NAS_IP}"
        path: /mnt/docker/talos_apps/immich/library
        mountPath: /usr/src/app/upload/library
      profile:
        type: nfs
        server: "${NAS_IP}"
        path: /mnt/docker/talos_apps/immich/profile
        mountPath: /usr/src/app/upload/profile
      thumbs:
        type: nfs
        server: "${NAS_IP}"
        path: /mnt/docker/talos_apps/immich/thumbs
        mountPath: /usr/src/app/upload/thumbs
      uploads:
        type: nfs
        server: "${NAS_IP}"
        path: /mnt/docker/talos_apps/immich/uploads
        mountPath: /usr/src/app/upload/upload
      video:
        type: nfs
        server: "${NAS_IP}"
        path: /mnt/docker/talos_apps/immich/encoded-video
        mountPath: /usr/src/app/upload/encoded-video
    cnpg:
      main:
        mode: recovery
        # standalone
        # recovery
        # Set to 'recovery' when recovery from S3
        backups:
          enabled: true
          credentials: s3
          revision: "3"
          scheduledBackups:
            - name: daily-backup
              schedule: "0 15 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: s3
          recoveryTarget:
            targetTime: "2025-07-28 23:59:59+11:00"
          revision: "2"
